<center>
        <h2>Editar tasas de desempleo
        </h2>
    </center>
    
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
    
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    País
                </th>
                <th>
                    Año
                </th>
                <th>
                    Tasa de paro
                </th>
                <th>
                    Desempleo juvenil
                </th>
                <th>
                    Desempleo masculino
                </th>
                <th>
                    Desempleo femenino
                </th>
            </tr>
        </thead>
        <tbody>
                <td>{{ unemploymentRate.country }}</td>
                <td>{{ unemploymentRate.year }}</td>
                    
                <td>
                    <input 
                        class=form-control
                        ng-model=unemploymentRate.rate
                    />
                </td>
                <td>
                    <input 
                        class=form-control
                        ng-model=unemploymentRate.youthUnemployment
                    />
                </td>
                <td>
                    <input 
                        class=form-control
                        ng-model=unemploymentRate.maleUnemployment
                    />
                </td>
                <td>
                    <input 
                        class=form-control
                        ng-model=unemploymentRate.femaleUnemployment
                    />
                </td>
                <td>
                    <button class="btn btn-secondary" ng-click="updaterate(unemploymentRate.country, unemploymentRate.year)">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
   

  